
.burguer-container {
    position: fixed;
    height: 64px;
    width: 64px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 32px;
	height: 25px;
    margin-left: 12px;
	cursor: pointer;
}
.burger .dash {
	width: 32px;
	height: 3px;
	background: #000;
	border-radius: 20px;
	transition: 0.25s;
}
.burger .dash:nth-of-type(3) {
	position: absolute;
	top: calc(33px - 2.5px);
}
.activebrgr .dash:nth-of-type(1) {
	opacity: 0;
}
.activebrgr .dash:nth-of-type(4) {
	opacity: 0;
}
.activebrgr .dash:nth-of-type(3) {
	transform: rotate(45deg);
}
.activebrgr .dash:nth-of-type(2) {
	transform: rotate(-45deg);
}

.activebrgr > .dash {
    background-color: #fff;
}

.button {
	cursor: pointer;
}