.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding: 0px 150px;
}

.nav {
    z-index: 9999;
    position: fixed;
    padding-left: 74px;
    height: 64px;
    width: 100vw;
    display: flex;
    align-items: center;
    mix-blend-mode: difference;
    filter: brightness(0) invert(1);
}

.nav-link {
    font-family: IBM Plex Mono;
    padding-right: 100px;
    color: #000;
    cursor: pointer;
}

.title {
    padding-bottom: 24px;
}

.subtitle {
    padding-left: 100px;
}

.surname {
    padding-left: 40px;
}


#work {
    height: 100vh;
    display: flex;
    grid-template-columns: none;
    align-items: start;
}

.title_work {
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.works {
    width: calc(100vw - 300px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 150px;
    margin-left: 150px;
}

.work {
    width: 250px;
    height: 250px;
    background-color: #fff;
    margin-right: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image {
    width: 35px;
    height: auto;
    margin-left: 40px;
    border-radius: 50%;
    transition: 0.6s ease-in-out;
}

.image:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 5px rgba(0,0,0,0.6); 
    cursor: pointer;
}

.content-contacts {
    align-self: end;
    justify-self: end;
    padding-bottom: 40px;
    padding-left: 0px !important;
}

.contacts {
    padding-top: 10px;
}

html {
    scroll-behavior: smooth;
}

@supports(scroll-snap-type: both mandatory) {
    .no-support {
        display: none;
    }
}


.homepage {
    height: 100vh;
    width: 100vw;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: overlay;
}

.homepage > .container {
    scroll-snap-align: start;
}

.homepage > .container-some-work {
    scroll-snap-align: start;
}

.container-some-work > .content {
    padding: 0;
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .container {
        grid-template-columns: none;
    }

    .content-contacts {
        display: none;
    }

    .nav {
        display: none; 
    }

    .content-title {
        width: fit-content;
        justify-self: center;
    }

    .work {
        width: 200px;
        height: 200px;
        margin-right: 34px;
        margin-bottom: 34px;
    }

    .burguer-container {
        display: flex !important;
    }

    .nav-link {
        padding: 0px;
    }

    .image-link {
        display: block !important;
    }

    .image {
        margin: 0;
        width: 48px !important;
        height: 48px !important;
        padding-top: 10px;
    }
    
}

@media screen and (max-width: 663px) {
    .container {
       padding: 0px 50px;
    }

    .title_work {
        padding-left: 50px;
    }

    .works {
        width: calc(100vw - 100px);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 50px;
        margin-left: 50px;
    }

}


@media screen and (max-width: 496px) {
    .container {
       padding: 0px 50px;
    }

    .title_work {
        padding-left: 50px;
    }

    .works {
        justify-content: center;
    }

    .work {
        width: 200px;
        height: 200px;
        margin-right: 0px;
        margin-bottom: 34px;
    }

    .title {
        padding-bottom: 12px;
    }

    .subtitle {
        padding-left: 50px;
    }
}

.menu-container {
    height: 100vh;
    width: 100vw;
    background: #2F2F2F;
    position: absolute;
    left: calc(0px - 100%);
    z-index: 3;
}

.contact-container{
    height: 100vh;
    width: 100vw;
    background: #E7E7E7;
    position: absolute;
    left: calc(0px - 100%);
    z-index: 1;
}

.contact-container > .menu {
    height: calc(100vh - 200px);
    padding: 100px 0px;
}

.menu {
    height: calc(100vh - 400px);
    width: 100%;
    padding: 200px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.menu > a {
    color: #fff;
}

.activemenu {
    transition: 1.5s;
    transform: translateX(100%);
}

.deactivatemenu {
    transition: 1.5s;
    transform: translateX(-100%);
}

.image-link{
    display: none;
    position: fixed;
    height: 48px;
    width: 48px;
    bottom: 0;
    left: 20px;
    margin-bottom: 20px;
    z-index: 2;
    cursor: pointer;
}

.work {
    transition: box-shadow 0.6s ease-in-out;
}

.work:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.6); 
    cursor: pointer;
}